@font-face {
    font-family: 'esas';
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'esas_bold';
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'esas_xbold';
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'esas_italic';
    src: url(../assets/fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'esas_bitalic';
    src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}